version: '3'
services:
  app:
    build: .
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/database
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080"

  db:
    image: postgres
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=database
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis

volumes:
  db-data: